package auth

import (
	"github.com/ListenUpApp/ListenUp/internal/web/view/forms"
	"github.com/ListenUpApp/ListenUp/internal/web/view/layouts"
)

templ Login(data forms.LoginData) {
	@layouts.Auth() {
		<title>ListenUp | Login</title>
		<h1 class="text-secondary-700 font-medium text-3xl mb-2">Welcome to ListenUp!</h1>
		<p class="text-secondary-500 text-sm">Sign in to your account below: </p>
		@forms.LoginForm(data)
	}
}
